@charset "utf-8";

/* CSS Document */


/*
这个 .xx 就是 html 的 class 
	例如 html 的 <label class="xx">中华人民共和国</label>
.xx{ font-size:9px}
*/

input[type=text] {
    font-size: 36px;
    width: 45px;
}

.sideBySide {
    display: inline;
}

input[type=checkbox] {
    -ms-transform: scale(3);
    /* IE */
    -moz-transform: scale(3);
    /* FireFox */
    -webkit-transform: scale(3);
    /* Safari and Chrome */
    -o-transform: scale(3);
    /* Opera */
}

select {
    font-size: 36px
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    margin: 4px 2px;
    cursor: pointer;
    font-size: 36px;
}

.labelTest {}

label {
    font-size: 36px;
}